:root {
  /*Cores da pagina*/
  /*Primaria- constam em varias telas*/
  --fd-color-primary-light1: #55b1cfc8;
  --fd-color-primary2: #4fa0c6;
  --fd-color-primary-light: #004cd8;
  --fd-color-primary: #0041be;

  /*Danger*/
  --fd-color-danger: #ff2222;

  /*Gray*/
  --fd-color-gray-lighter: #f9fbfd;
  --fd-color-gray: #767684;
  --fd-color-gray-light: #888787;
  --fd-color-gray-dark: #09090a;
  --fd-color-row: rgba(196, 196, 196, 0.35);
}
